div {
  cursor: inherit;
}

#center {
  position: relative;
  height: 100%;
  width: 512px;
  margin: 0 auto;
}

#cont {
  position: absolute;
  top: 50%;
  /*margin-top: -270px;*/
  width:  512px;
  height: 570px;
}

#dot {
  width:  512px;
  height: 512px;
}

svg,
circle {
  pointer-events: none;
}

#next {
  padding-top: 30px;
}

#next input {
  width: 480px;
  border: 1px solid #ccc;
  outline: none;
}

#next .err {
  color: red;
}

